main#social-media {
  section#what-kind-of-person {
    
    .kinds-container {
      position: relative;
      width: 80%;
      margin: auto;

      .slide-bar-container {
        position: absolute;
      }
    }
  }
}