main#social-media {
  section#solutions {
    padding: 0;

    .section-title {
      height: 100px;
      line-height: 100px;
      padding: 0;

      h1 {
        margin: 0;
        padding: 0;

        &::after {
          transform: translateY(-23px);
        }
      }
    }

    ul.solution-upper {
      display: flex;

      li {
        text-align: center;
        flex: 1;
        padding: 40px;
        box-sizing: border-box;

        &:first-child {
          background: $white-lilac;
        }
        &:last-child {
          background: $white-smoke;
        }

        .upper-img {
          img {
            height: 180px;
            width: auto;
          }
        }

        .upper-text {
          h3 {
            font-size: 20px;
          }

          div, p {
            font-size: 16px;
          }
        }
      }
    }

    ul.solution-step {
      counter-reset: solution-counter;
      $bg-color: $cerulean, $darker-cerulean, $line-water, $golden;
      $color: $white, $white, $curious-blue, $font-black;

      li {
        height: 500px;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}n+0) {
            background: nth($bg-color, $i);
            color: nth($color, $i);
          }
        }

        &:nth-child(odd) {
          .solution-container .solution-title {
            .circle { 
              background: $darker-cerulean;
              color: $white;

              &::after {
                transform: rotate(32deg);
              }
            }
          }
        }

        &:nth-child(even) {
          .solution-container {
            .solution-title {
              order: 3;

              .circle { 
                background: $white;
                color: $darker-cerulean;

                &::after {
                  transform: rotate(148deg);
                  left: 0%;
                }
              }
            }

            .solution-text {
              order: 2;
            }

            .solution-img {
              order: 1;
            }
          }
        }

        &:last-child() { 
          .solution-container .solution-title .circle::after{
            display: none;
          }
        }

        .solution-container {
          max-width: $pad;
          width: 100%;
          margin: auto;
          display: flex;
          height: 100%;
          position: relative;

          & > * {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
          }

          .solution-title {
            position: relative;
            top: 20px;
            flex-direction: column;
            opacity: .99;

            .circle {
              height: 200px;
              width: 200px;
              border-radius: 100px;
              box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
              position: relative;

              &::before {
                content: counter(solution-counter);
                counter-increment: solution-counter;
                display: block;
                font-size: 100px;
                font-weight: $medium;
                text-align: center;
                line-height: 190px;
              }

              &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: -1;
                left: 100%;
                top: 100%;
                background: $white;
                width: 570px;
                height: 2px;
                transform-origin: left;
              }
            }

            h2 {
              border-bottom: 2px solid;
              padding-bottom: 5px;
            }
          }

          .solution-text {
            line-height: 25px;
          }
        }
      }
    }

    @media (max-width: $pad) {
      ul.solution-step li {
        height: 250px;

        &:nth-child(even) {
          .solution-container {
            .solution-title, .solution-text, .solution-img {
              order: initial;
            }
          }
        }

        .solution-container {
          .solution-title {
            top: 0px;
            width: 100px;

            .circle {
              width: 100px;
              height: 100px;

              &::before {
                font-size: 50px;
                line-height: 100px;
              }

              &::after{
                display: none;
              }
            }
          }

          .solution-text {
            flex-direction: column;
            align-items: baseline;
            padding: 20px;
          }
        }
      }
    }


    @media (max-width: $smaller-mobile) {
      ul.solution-step li {
        .solution-container {
          .solution-title {
            flex: none;
            width: 90px;

            .circle {
              width: 60px;
              height: 60px;

              &::before {
                font-size: 26px;
                line-height: 60px;
              }
            }
          }

          .solution-text {
            padding: 10px;
          }

          .solution-img {
            flex: none;
            position: absolute;
            bottom: 140px;
            right: 20px;
            width: 50px;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}