main section#trouble {
  text-align: center;
  background: $lighter-blue;
  position: relative;
  .section-title {
    color: $curious-blue;
    padding-bottom: 20px;

    h1 {
      &::after {
        background: $curious-blue;
        transform: translateY(5px);
      }
    }
  }
  .trouble-text {
    position: relative;
    z-index: 2;
    max-width: 90%;
    margin: auto;

    p {
      color: $darker-gray;
      margin: 25px 0px;
    }
  }

  &::after, &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    background: url('~images/service/common/trouble/cloud-left.png') no-repeat;
    width: 240px;
    height: 172px;
    left: 0;
  }

  &::after {
    background: url('~images/service/common/trouble/cloud-right.png') no-repeat;
    width: 154px;
    height: 206px;
    right: 0;
  }

  @media (max-width: $pad) {
    &::after, &::before {
      background: none;
      display: none;
    }
  }
}