main {
  section#founder {
    background: $lighter-blue;

    .section-title {
      padding-bottom: 50px;
    }

    .founders {
      width: 90%;
      margin: auto;
      text-align: center;
      
      .founder {
        display: inline-block;
        width: 225px;
        margin: 0px 4% 30px;
        vertical-align: top;

        .circle {
          width: 170px;
          height: 170px;
          border-radius: 50%;
          overflow: hidden;
          color: $white;
          position: relative;
          margin: auto;
          cursor: pointer;
          
          img {
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
          }

          .circle-content {
            height: 100%;
            padding: 50px 0px 0px;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            border-radius: 50%;
            transition: all .4s;

            * {
              position: relative;
              top: 100%;

              @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                  transition: all .4s $i/10+s;
                }
              }
            } 

            .name-ch {
              font-size: 28px;
            }

            .name-en {
              font-size: 16px;
              padding: 18px 0px 16px;
            }

            .linkedin-icon {
              background: url('~images/home/founder/icon-linkedin.png') no-repeat;
              width: 21px;
              height: 21px;
              display: block;
              margin: auto;
            }

            &:hover {
              background: rgba(0, 0, 0, 0.4);

              * {
                top: 0;
              }
            }
          }
        }

        .info {
          .title, .introduction {
            font-size: 16px;
          }

          .title {
            font-weight: $medium;
            margin: 30px 0px 20px;
          }
        }
      }
    }

    @media (max-width: $pad) {
      .section-title {
        padding-bottom: 20px;
      }
      
      .founders {
        .founder {
          width: 100%;
          margin: auto;
          padding: 30px 0px;
          display: flex;
          align-items: center;
          max-width: 500px;

          .circle {
            display: inline-block;
            width: 30%;
            max-width: 140px;
            max-height: 140px;
            flex: initial;
            margin-right: 20px;
            cursor: default;
          }

          .info {
            flex: 1;
            text-align: left;

            .title {
              margin: 0px;
            }

            .introduction {
              margin: 10px 0px 20px;
            }

            .name-ch, .name-en {
              display: inline-block;
            }

            .name-ch {
              font-size: 24px;
              font-weight: $medium;
            }

            .name-en {
              padding-left: 10px;
              font-size: 14px;
            }

            .linkedin-icon {
              background: url('~images/home/founder/icon-linkedin-m.png') no-repeat;
              width: 83px;
              height: 31px;
              display: block;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}