main#owned-media {
  section#ecosphere {
    background: $lighter-blue;

    .section-title {
      padding-bottom: 20px;
    }

    .ecosphere-container {
      opacity: 0.99;
      
      canvas {
        width: 1024px;
        height: 600px;
        margin: auto;
        display: block;
      }

      &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        background: url('~images/service/common/trouble/cloud-left.png') no-repeat;
        width: 245px;
        height: 172px;
        left: 0;
      }

      &::after {
        background: url('~images/service/common/trouble/cloud-right.png') no-repeat;
        width: 154px;
        height: 206px;
        right: 0;
      }
    }

    &.section-arrow-down::after {
      top: 0;
      bottom: initial;
      transform: translate(-50%, 0%);
      border-color: $pure-white transparent transparent;
    }
  }
}