main#owned-media {
  section#ecosphere {
    background: $lighter-blue;

    .section-title {
      padding-bottom: 20px;
    }

    .ecosphere-container {
      canvas {
        width: 1024px;
        height: 600px;
        margin: auto;
        display: block;
      }
    }

    &.section-arrow-down::after {
      top: 0;
      bottom: initial;
      transform: translate(-50%, 0%);
      border-color: $pure-white transparent transparent;
    }
  }
}