$white: #FAFAFA;
$darker-white: #DEDEDE;
$gray: #666D6F;
$darker-gray: #666E70;
$font-black: #281D1A;

$primary: #0E85BC;

$lighter-blue: #f3fafe;
$line-water: #D9EBF4;
$sail: #A9CFE6;
$viking: #43B3CA;
$cerulean: #13ABD8;
$curious-blue: #398BBD;
$darker-cerulean: #157EB1;

$golden: #F0E13C;

$fb-blue: #4D6FA9;
$line-green: #1CBF20;
