$white: #FAFAFA;
$darker-white: #DEDEDE;
$font-black: #281D1A;

$gray: #666D6F;
$darker-gray: #666E70;

$primary: #0E85BC;

$lighter-blue: #f3fafe;
$sail: #A9CFE6;
$spindle: #B5D5EC;
$curious-blue: #398BBD;
$viking: #43B3CA;