@import './article-card.scss';

#blog {
  background-color: $white;
  * { background-repeat: no-repeat; }
  h1.hidden-title { display: none; }
  .banner {
    background-image: url("~images/blog/banner.png");
    background-size: 100% auto;
    max-width: 1440px;
    width: 100%;
    height: 400px;
  }
  .articles {
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 0;

    .article-card {
      &:nth-child(1), &:nth-child(2) {
        width: 98%;
        height: 240px;
        margin: 24px 1%;
        .card-img {
          width: 40%;
          height: 100%;
        }
      }
    }
    @media (max-width: $pad)    { width: 90%; }
    @media (max-width: $mobile) { width: 100%; }
    @media (max-width: $smaller-mobile) {
      .article-card:nth-child(1), .article-card:nth-child(2) {
        width: 94%;
        height: auto;
        margin: 10px auto;
        .card-img {
          width: 100%;
          height: 256px;
        }
      }
    }
  }
}
