main {
  section#contact-us {
    background: url('~images/home/contactUs/contact-us-bg.jpg');
    background-size: cover;
    background-position: 50%;
    text-align: center;

    .contact-us-center {
      background: rgba(255, 255, 255, 0.8);
      width: 65%;
      margin: 60px auto;
      display: inline-block;

      .company-info-container {
        padding: 10% 5%;

        h1 {
          margin: 0;
        }

        .company-info {
          padding: 60px 0px;
          line-height: 30px;
          font-size: 20px;
        }
      }

      .contact-us-form-container {
        padding: 0px 5% 50px;
        position: relative;

        .go-back-btn {
          position: absolute;
          left: 8%;
          top: 65px;
          width: 30px;
          height: 30px;
          background: $primary;
          color: white;
          border-radius: 50%;
          cursor: pointer;
        }

        .contact-us-form {
          padding: 30px;
        }
      }

      @media (max-width: $mobile) {
        width: 100%;

        .contact-us-form-container .go-back-btn {
          left: 3%;
          top: 10px;
        }
      }
    }
  }
}