main {
  section#cover {
    min-height: 100vh;
    height: 500px;
    background: url('~images/home/cover/cover-bg.png') no-repeat;
    background-size: cover;
    display: flex;
    position: relative;

    .cover-left {
      flex: 1;
      display: flex;
      justify-content: center;
      color: $white;
      flex-direction: column;

      .center {
        padding: 10%;

        h2 {
          font-size: 20px;
          padding: 30px 0px;
          font-weight: $normal;
          line-height: 30px;
        }
      }
    }

    .cover-right {
      flex: 1;
      display: flex;
      justify-content: center;

      & > p {
        background: url('~images/home/cover/cover-right.svg') no-repeat;
        width: 40%;
        margin: auto;
        padding: 10%;
      }
    }

    &::after {
      content: '';
      background: url('~images/home/cover/scroll.svg') no-repeat;
      position: absolute;
      width: 16px;
      height: 25px;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      
    }

    @media(max-width: $mobile) {
      .cover-left .center {
        h1 {
          font-size: 20px;
        }

        h2 {
           font-size: 16px;
        }
      }
      .cover-right {
        display: none;
      }
    }
  }
}