@import '../common/normalize.scss';
@import '../common/color.scss';
@import '../common/button.scss';
@import '../common/fontWeight.scss';
@import '../common/device.scss';
@import '../common/header.scss';
@import '../common/animations.scss';
@import '../common/mixin.scss';

@import './cover.scss';
@import './problems.scss';
@import './solutions.scss';
@import './cooperation-process.scss';
@import './contact-us.scss';

html, body , div[id^="Home-react-component"] {
  height: 100%;
  min-height: 100%;
  background-color: $white;
  font-family: 'Noto Sans TC';
  color: $font-black;
}

main {
  position: relative;
  font-size: 20px;

  section {
    padding: 50px 0px;

    .section-title {
      text-align: center;
      padding-bottom: 100px;

      h1 {
        display: inline-block;
        
        &::after {
          content: '';
          width: 85%;
          height: 2px;
          background: $font-black;
          display: block;
          margin: auto;
          transform: translateY(10px);
        }
      }
    }
  }
  @media(max-width: $pad) { 
    section .section-title {
      padding-bottom: 20px;
    }
  }

  @media(max-width: $mobile) {
    font-size: 16px;

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
    }
  }
}

#app-container {
  min-height: 100%;
  position: relative;
}
